.button {
    &,
    &:link,
    &:visited {
        display: block;
        position: relative;
        width: min-content;
        font-family: 'Montserrat';
        font-size: 12px;
        letter-spacing: 2.4px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        outline: navajowhite;
        color: $color-accent;
        text-decoration: none;
        padding-left: 35px;
        line-height: 1.8;
        white-space: nowrap;
        cursor: pointer;
        transition: padding-left .2s ease-in;
    }

    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background-color: $color-accent;
        top: 6px;
        left: 0;
    }

    &:hover,
    &:focus {
        &,
        &:link,
        &:visited {
            padding-left: 45px;
        }
    }

    @include media-breakpoint-up(lg) {
        &,
        &:link,
        &:visited {
            font-size: 16px;
            letter-spacing: 3.2px;
        }

        &::before {
            width: 12px;
            height: 12px;
            top: 6px;
        }
    }

    @include media-breakpoint-up(fhd) {
        &,
        &:link,
        &:visited {
            font-size: 24px;
            letter-spacing: 4.8px;
            padding-left: 52px;
        }

        &::before {
            width: 18px;
            height: 18px;
            top: 12px;
        }

        &:hover {
            &,
            &:link,
            &:visited {
                padding-left: 67px;
            }
        }
    }

    @include media-breakpoint-up(tk) {
        &,
        &:link,
        &:visited {
            font-size: 32px;
            letter-spacing: 6.4px;
            padding-left: 70px;
        }

        &::before {
            width: 24px;
            height: 24px;
            top: 12px;
        }

        &:hover {
            &,
            &:link,
            &:visited {
                padding-left: 90px;
            }
        }
    }
}