.arrows {
    display: flex;
    align-items: center;
    margin-bottom: 7px;

    &-up {
        border: solid $table-th;
        border-width: 0 3px 3px 0;
        padding: 3px;

        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);

        &--on {
            border-color: $text;
        }
    }

    &-down {
        position: relative;
        right: 9px;
        top: 5px;
        border: solid $table-th;
        border-width: 0 3px 3px 0;
        padding: 3px;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);

        &--on {
            border-color: $text;
        }
    }
}

.main {

    &--block {
        position: static;
        display: block;
        padding: 60px $padding-width;

        @include media-breakpoint-down(1280) {
            td {
                font-size: 14px;
            }
        }
    
        @include media-breakpoint-down(x) {
            padding: 0 ($padding-width / 2);
        }
    
        @include media-breakpoint-down(md) {
            padding: 0 ($padding-width / 4);
        }

        @include media-breakpoint-down(xs) {
            padding: 0;
        }
    }

    &__clients {
        font-family: "Montserrat";
        background-color: $accent;
        border-radius: 6px;
        box-shadow: 0px 4px 32px rgba(136, 152, 170, 0.16);

        &-header {
            color: $text;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            padding: $s-dist;
        }

        &-table {
            width: 100%;
            color: $text;
            border-spacing: 0;
            border-collapse: collapse;

            tr {
                border: 1px solid $grey;
                border-left: 0;
                border-right: 0;
            }

            thead {
                height: 44px;
                color: $table-th;
                background-color: $table-th-bg;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;

                th {
                    padding: $s-dist;
                    text-align: left;

                    div {
                        display: flex;
                        align-items: center;

                        .arrows {
                            margin-left: 10px;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $grey;
                    }
                }
            }

            td {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                padding: $s-dist;
            }

            a {
                color: $text;

                &:hover {
                    color: black;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            th,
            td {
                font-size: 10px;
            }
        }
    }
}