.navbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(x) {
        display: flex;
        background-color: transparent;
    }

    @include media-breakpoint-up(fhd) {
        height: 270px;

        &::after {
            height: 2px;
            top: 144px;
            min-width: 60px;
            width: 135px;
        }
    }

    @include media-breakpoint-up(tk) {
        height: 360px;

        &::after {
            height: 3px;
            top: 195px;
            min-width: 100px;
            width: 180px;
        }
    }

    &__container {
        position: relative;
        max-width: $max-width-fhd;
        width: 100%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        @include media-breakpoint-up(x) {
            padding: 0 100px;
            max-width: calc(#{$max-width-fhd} + 200px);
        }

        @include media-breakpoint-up(fhd) {
            max-width: calc(#{$max-width-tk} + 300px);
            padding: 0 150px;
        }
    
        @include media-breakpoint-up(tk) {
            max-width: calc(#{$max-width-fk} + 400px);
            padding: 0 200px;
        }
    }

    &__logo {
        display: block;
        width: 115px;
        min-width: 115px;
        height: auto;
        margin-right: 85px;

        @include media-breakpoint-up(fhd) {
            width: 165px;
            min-width: 165px;
            margin-right: 130px;
        }

        @include media-breakpoint-up(tk) {
            width: 230px;
            min-width: 230px;
            margin-right: 170px;
        }
    }

    &__menu {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__menu-items{
        display: flex;
        align-items: center;
        padding-bottom: 22px;

        & > :not(:last-child) {
            margin-right: 55px;
        }

        @include media-breakpoint-up(xl) {
            & > :not(:last-child) {
                margin-right: 85px;
            }
        }

        @include media-breakpoint-up(xi) {
            & > :not(:last-child) {
                margin-right: 120px;
            }
        }

        @include media-breakpoint-up(fhd) {
            padding-bottom: 33px;
        }

        @include media-breakpoint-up(tk) {
            padding-bottom: 44px;

            & > :not(:last-child) {
                margin-right: 100px;
            }
        }

        @include media-breakpoint-up(ik) {
            & > :not(:last-child) {
                margin-right: 144px;
            }
        }
    }

    &__menu-item {
        &,
        &:link,
        &:visited {
            display: block;
            position: relative;
            font-family: 'Montserrat';
            font-size: 14px;
            letter-spacing: 2.7px;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
        }

        &--dark {
            display: block;
            position: relative;
            font-family: 'Montserrat';
            font-size: 14px;
            letter-spacing: 2.7px;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            color: #032040 !important;
        }

        &--active {
            font-weight: bold;
        }

        @include media-breakpoint-up(fhd) {
            &,
            &:link,
            &:visited {
                font-size: 22px;
                letter-spacing: 4px;   
            }
        }
    }

    &--dark &__menu-item {
        &,
        &:link,
        &:visited {
            color: $color-primary;
        }
    }

    &--dark &__child-menu-content {
        background-color: transparent;
    }

    &--dark &__child-menu-el,
    &--dark &__child-menu-el::before {
        background-color: $color-primary;
    }

    &__child-menu-parent {
        position: relative;
    }

    &__child-menu-parent:hover > &__child-menu {
        opacity: 1;
        user-select: initial;
        pointer-events: initial;
    }

    &__child-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity .2s ease-in;
        user-select: none;
        pointer-events: none;
        padding-top: 70px;

        &:hover {
            opacity: 1;
            user-select: initial;
            pointer-events: initial;
        }
    }

    &__child-menu-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color-primary, .55);
        padding: 20px 30px 25px;
    }

    &__child-menu-el {
        width: 1px;
        height: 35px;
        margin: 10px 0;
        background-color: $color-white;

        &::before {
            content: "";
            position: absolute;
            height: 50px;
            width: 1px;
            top: -50px;
            background-color: $color-white;
        }
    }
}

.navbar-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;

    @include media-breakpoint-up(lg) {
        max-width: calc(#{$max-width-fhd} + 100px);
        padding: 0 50px;
    }

    @include media-breakpoint-up(x) {
        padding: 0 100px;
        max-width: calc(#{$max-width-fhd} + 200px);
    }

    @include media-breakpoint-up(x) {
        display: none;
    }

    &--desktop {
        display: block !important;
    }

    &__menu {
        padding: 24px 32px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        @include media-breakpoint-up(x) {
            padding: 50px 0;
        }
    }

    &__toggle {
        height: 45px;
        width: 45px;
    }

    &__toggle-icon {
        position: relative;
        margin-top: 22px;
        
        &,
        &::before,
        &::after {
            width: 45px;
            height: 2px;
            background-color: $color-white;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s ease-in;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }

        &--light, &--light::after, &--light::before {
            background-color: black;
        }
    }

    &__toggle--active &__toggle-icon {
        background-color: transparent;

        &::before {
            top: 0;
            transform: rotate(135deg);
        }

        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
    }

    &__logo {
        height: 40px;
        margin-right: 32px;

        @include media-breakpoint-up(sm) {
            height: 80px;
        }

        @media screen and (max-width: 991px) {
            height: 70px;
            margin-right: 32px;
        }
    }

    &__menu-items {
        position: absolute;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 32px;
        background-color: $color-primary;
        border-bottom: 1px solid $color-white;
        z-index: 0;
        transform: translateY(calc(-155%));
        transition: transform .7s ease-in-out;        
        z-index: 100;
        padding-bottom: 60px;

        & > :not(:last-child) {
            margin-bottom: 24px;
        }

        @include media-breakpoint-up(lg) {
            border-bottom: none;
        }

        @include media-breakpoint-up(x) {
            padding: 50px 100px;
        }

        &--active {
            transform: translateY(-118px);

            @include media-breakpoint-up(lg) {
                transform: translateY(-130px);
            }

            @include media-breakpoint-up(x) {
                transform: translateY(-180px);
            }
        }
    }
}