*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  padding: 0 108px; }
  @media only screen and (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(8, 1fr);
      padding: 0 54px; } }
  @media only screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 27px; } }
  .container--block {
    display: block;
    position: static; }

.navbar {
  background-color: #172B4D;
  color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 108px; }
  .navbar__logo {
    display: flex;
    align-items: center; }
    .navbar__logo:hover {
      cursor: pointer; }
    .navbar__logo-img {
      width: 50px;
      max-height: 70px;
      margin-right: 24px; }
    .navbar__logo-title {
      font-family: "Actor";
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      font-size: 23px;
      letter-spacing: 0.22em; }
  .navbar__menu {
    list-style-type: none;
    display: flex;
    align-items: center; }
    .navbar__menu li a {
      text-decoration: none;
      color: #fdfdfd;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 12px; }
      .navbar__menu li a:hover {
        cursor: pointer;
        color: grey; }
    .navbar__menu-notifications {
      height: 30px;
      margin: auto 0;
      border-radius: 50%;
      padding: 2px; }
      .navbar__menu-notifications:hover {
        background-color: grey; }
  @media only screen and (max-width: 1200px) {
    .navbar {
      padding: 5px 54px; } }
  @media only screen and (max-width: 768px) {
    .navbar {
      padding: 2.5px 27px; } }
  @media only screen and (max-width: 576px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px; }
      .navbar__logo {
        margin-bottom: 16px; } }
  @media only screen and (max-width: 390px) {
    .navbar {
      padding: 1.25px 0; }
      .navbar__logo {
        flex-direction: column;
        align-items: center; }
        .navbar__logo-img, .navbar__logo-title {
          margin: 0; }
      .navbar__menu {
        flex-direction: column;
        justify-content: center; }
        .navbar__menu li {
          margin: 0;
          margin-bottom: 15px; } }
  @media only screen and (max-width: xspx) {
    .navbar {
      padding: 1.25px 0; }
      .navbar__logo {
        flex-direction: column;
        align-items: center; }
        .navbar__logo-img, .navbar__logo-title {
          margin: 0; }
      .navbar__menu {
        flex-direction: column;
        justify-content: center; }
        .navbar__menu li {
          margin: 0;
          margin-bottom: 15px; } }

.header {
  z-index: -2;
  position: relative;
  height: 415px;
  background-color: #0C1D33;
  color: #fdfdfd;
  font-family: "Montserrat";
  padding: 60px 108px;
  font-size: 16px; }
  .header__img {
    position: absolute;
    bottom: 0px;
    left: -1px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../../assets/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position-y: -300px;
    background-position-x: -220px;
    transform: scaleX(-1);
    /* guess we better just use a background image, instead of loading a big svg to put 1/4 of it in the view */ }
  .header__info-back {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 8px; }
    .header__info-back-where {
      text-decoration: none;
      color: inherit;
      line-height: 16px;
      font-weight: 400;
      margin-left: 8px; }
    .header__info-back-arrow {
      border: solid #fdfdfd;
      border-width: 0 3px 3px 0;
      padding: 3px;
      margin-bottom: 2px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg); }
      .header__info-back-arrow i {
        width: 10px;
        height: 10px; }
    .header__info-back:hover {
      cursor: pointer;
      color: grey; }
      .header__info-back:hover i {
        border-color: grey; }
  .header__info-name {
    font-weight: 400;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 3px;
    margin-bottom: 24px; }
  .header__info-desc {
    width: 400px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 16px; }
  .header__info-btn {
    border-radius: 6px;
    background-color: #fdfdfd;
    text-decoration: none;
    color: #E0B677;
    padding: 8px 16px;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px; }
    .header__info-btn:hover {
      background-color: #c2c2c2;
      color: #0C1D33; }
  @media only screen and (max-width: 1681px) {
    .header__img {
      background-size: 700px;
      background-position-y: -300px;
      background-position-x: -250px; } }
  @media only screen and (max-width: 1200px) {
    .header {
      padding: 60px 54px; }
      .header__img {
        background-size: 600px;
        background-position-y: -200px;
        background-position-x: -200px; }
      .header__info-name {
        font-size: 35px; }
      .header__info-desc {
        font-size: 14px; } }
  @media only screen and (max-width: 768px) {
    .header {
      padding: 60px 27px 0 27px; }
      .header__img {
        background-size: 500px;
        background-position-y: -110px; } }
  @media only screen and (max-width: 576px) {
    .header__img {
      background-size: 400px;
      background-position-y: -40px;
      background-position-x: -200px; }
    .header__info-desc {
      width: 80%; } }
  @media only screen and (max-width: 390px) {
    .header__img {
      background-size: 300px;
      background-position-y: 50px;
      background-position-x: -150px; }
    .header__info-name {
      font-size: 30px;
      margin-bottom: 12px; } }
  @media only screen and (max-width: xspx) {
    .header__img {
      background-size: 300px;
      background-position-y: 50px;
      background-position-x: -150px; }
    .header__info-name {
      font-size: 30px;
      margin-bottom: 12px; } }

/* breakpoints are at the end of every major div/block */
.home-page .container {
  position: relative;
  top: -50px; }

.home-page__card {
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  color: #fdfdfd;
  padding: 24px;
  background: linear-gradient(90deg, #E0B677 0%, #0C1D33 100%);
  border-radius: 6px; }
  .home-page__card:nth-child(1) {
    grid-column: 1 / 5; }
  .home-page__card:nth-child(2) {
    grid-column: 5 / 9; }
  .home-page__card-key {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px; }
  .home-page__card-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; }
  .home-page__card-img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #fdfdfd;
    object-fit: fill; }

.home-page__next {
  position: relative;
  grid-column: 9 / 13;
  height: 300px;
  background-color: #fdfdfd;
  border-radius: 6px;
  box-shadow: 0px 4px 32px rgba(136, 152, 170, 0.16);
  font-family: "Montserrat";
  font-size: 16px; }
  .home-page__next-header {
    color: #525F7F;
    padding: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between; }
  .home-page__next hr {
    border-width: 2px;
    border: 1px solid #E9ECEF; }
  .home-page__next-client {
    border: 2px solid #E9ECEF;
    border-radius: 6px;
    margin: 16px;
    padding: 16px;
    height: 125px;
    font-weight: 300;
    line-height: 20px;
    color: #32325D; }
    .home-page__next-client-name {
      color: #525F7F;
      font-weight: 400; }
    .home-page__next-client-visits {
      margin: 16px 0; }
    .home-page__next-client-tel {
      display: flex;
      align-items: center; }
      .home-page__next-client-tel span {
        border: 2px solid grey; }
    .home-page__next-client-view {
      position: absolute;
      right: 32px;
      top: 160px; }
  .home-page__next-services {
    max-width: 100%;
    color: #525F7F;
    padding: 0 16px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; }
    .home-page__next-services p:first-child {
      padding-bottom: 6px; }
    .home-page__next-services ul {
      list-style-position: inside;
      padding-left: 16px;
      color: #32325D; }
    .home-page__next-services li {
      color: #32325D;
      font-weight: 400;
      padding-bottom: 6px; }
    .home-page__next-services-paid {
      position: absolute;
      right: 16px;
      top: 202px;
      height: 40px;
      display: flex;
      color: #00BB78;
      align-items: center; }
      .home-page__next-services-paid div {
        height: 20px;
        background-color: #00BB78;
        border-radius: 100%;
        margin-right: 5px; }
        .home-page__next-services-paid div img {
          height: 20px; }
      .home-page__next-services-paid--not {
        color: red; }

.home-page__appointments {
  grid-column: 9 / 13;
  font-family: "Montserrat";
  background-color: #fdfdfd;
  border-radius: 6px;
  box-shadow: 0px 4px 32px rgba(136, 152, 170, 0.16);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400; }
  .home-page__appointments-header {
    color: #525F7F;
    font-weight: 700;
    padding: 16px; }
  .home-page__appointments hr {
    border: 1px solid #E9ECEF; }
  .home-page__appointments ul {
    padding: 16px;
    padding-top: 0; }
  .home-page__appointments li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-weight: 400; }
    .home-page__appointments li a {
      background-color: #0C1D33;
      padding: 8px 16px;
      margin-left: 5px;
      text-decoration: none;
      color: #fdfdfd;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(50, 50, 93, 0.1);
      border-radius: 6px; }
      .home-page__appointments li a:hover {
        cursor: pointer;
        background-color: #32325D; }
    .home-page__appointments li p {
      margin: 4px 0; }

.home-page__calendar {
  grid-column: 1 / 9; }

@media only screen and (max-width: 1280px) {
  .home-page ul,
  .home-page__next p,
  .home-page__next a {
    font-size: 14px; } }

@media only screen and (max-width: 1200px) {
  .home-page__next {
    grid-column: 1 / 5; }
  .home-page__appointments {
    grid-column: 5 / 9; } }

@media only screen and (max-width: 768px) {
  .home-page__card:nth-child(2) {
    grid-column: 1 / 5; }
  .home-page__appointments {
    grid-column: 1  / 5; }
  .home-page__calendar {
    grid-column: 1 / 5; } }

.arrows {
  display: flex;
  align-items: center;
  margin-bottom: 7px; }
  .arrows-up {
    border: solid #8898AA;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }
    .arrows-up--on {
      border-color: #525F7F; }
  .arrows-down {
    position: relative;
    right: 9px;
    top: 5px;
    border: solid #8898AA;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
    .arrows-down--on {
      border-color: #525F7F; }

.clients-page__clients {
  font-family: "Montserrat";
  background-color: #fdfdfd;
  border-radius: 6px;
  box-shadow: 0px 4px 32px rgba(136, 152, 170, 0.16); }
  .clients-page__clients-header {
    color: #525F7F;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 16px; }
    .clients-page__clients-header #search,
    .clients-page__clients-header #searchBtn,
    .clients-page__clients-header #filter {
      color: #525F7F;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      padding: 5px; }
    .clients-page__clients-header #filter {
      margin-left: 5px; }
    .clients-page__clients-header-filter {
      display: none; }
  .clients-page__clients-table {
    width: 100%;
    color: #525F7F;
    border-spacing: 0;
    border-collapse: collapse; }
    .clients-page__clients-table tr {
      border: 1px solid #E9ECEF;
      border-left: 0;
      border-right: 0; }
    .clients-page__clients-table thead {
      height: 44px;
      color: #8898AA;
      background-color: #F6F9FC;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px; }
      .clients-page__clients-table thead th {
        padding: 16px;
        text-align: left; }
        .clients-page__clients-table thead th div {
          display: flex;
          align-items: center; }
          .clients-page__clients-table thead th div .arrows {
            margin-left: 10px; }
        .clients-page__clients-table thead th:hover {
          cursor: pointer;
          background-color: #E9ECEF; }
    .clients-page__clients-table td {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      padding: 16px; }
    .clients-page__clients-table a {
      color: #525F7F; }
      .clients-page__clients-table a:hover {
        color: black; }

@media only screen and (max-width: 576px) {
  .clients-page__clients-header-filter {
    display: block; }
  .clients-page__clients-table thead {
    display: none; }
  .clients-page__clients-table table, .clients-page__clients-table tbody, .clients-page__clients-table tr, .clients-page__clients-table td {
    display: block;
    width: 100%; }
  .clients-page__clients-table tr {
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0px 4px 32px rgba(136, 152, 170, 0.16); }
  .clients-page__clients-table td {
    text-align: right;
    padding-left: 50%;
    position: relative; }
  .clients-page__clients-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
    padding: 3px 0 0 15px;
    color: #8898AA;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px; } }
