// colors
$primarycolor: #172B4D;
$primarycolor-darken: #0C1D33;
$accent: #fdfdfd;
$gold: #E0B677;
$grey: #E9ECEF;
$green: #00BB78;
$text: #525F7F;
$text-lighten: #32325D;
$table-th: #8898AA;
$table-th-bg: #F6F9FC;

// padding and margin
$padding-height: 5px;
$padding-width: 110px;
$distance: 24px;
$s-dist: 16px;

//grid
$max-width-xl: 1260px;
$max-width-xi: 1480px;
$max-width-fhd: 1720px;
$max-width-tk: 2300px;
$max-width-fk: 3440px;

//breakpoints
$breakpoint-xs: 390px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-x: 1200px;
$breakpoint-xl: 1367px;
$breakpoint-xli: 1460px;
$breakpoint-xi: 1681px;
$breakpoint-fhd: 1921px;
$breakpoint-2k: 2561px;
$breakpoint-ik: 3340px;
$breakpoint-4k: 3840px;

