//colors
$color-primary: #032040;
$color-secondary: #92BAD9;
$color-accent: #BB9365;

$color-primary-light: #59C1D3;
$color-white: #fff;
$color-black: #01060D;
$color-gray: #758F99;
$color-gray-2: #E2E1DC;
$color-gray-light: #F8F8F8;
$color-gray-light-2: #EDEDEA;
$color-gray-dark: #131A3D;
$color-danger: #ED1B24;

//grid
$max-width-xl: 1260px;
$max-width-xi: 1480px;
$max-width-fhd: 1720px;
$max-width-tk: 2300px;
$max-width-fk: 3440px;

//breakpoints
$breakpoint-xs: 390px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-x: 1200px;
$breakpoint-xl: 1367px;
$breakpoint-xli: 1460px;
$breakpoint-xi: 1681px;
$breakpoint-fhd: 1921px;
$breakpoint-2k: 2561px;
$breakpoint-ik: 3340px;
$breakpoint-4k: 3840px;

