///for text fadeInUp
///

$anim-duration: 1.5s;
$anim-timing-function: ease-in;

.animate {

    &__fadeInUp {
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity $anim-duration $anim-timing-function,
            transform $anim-duration $anim-timing-function;

        &--active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__fadeIn {
        opacity: 0;
        transition: opacity 1.8s $anim-timing-function;

        &--active {
            opacity: 1;
        }
    }

    &__width {
        width: 0 !important;
        transition: width $anim-duration ease-in-out;

        &--active {
            width: 100% !important;
        }
    }

    &__width-reverse {
        width: 100% !important;
        transition: width .8s $anim-timing-function;

        &--active {
            width: 0 !important;
            transition: width .8s $anim-timing-function;
        }
    }
}

.animate-title {
    @for $i from 2 to 10 {
        & > :nth-child(#{$i}) > span {
            transition-delay: $i * 0.1s;
        }
    }

    &__title-mask {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    &__title-mask span {
        transform: translateY(100%);
        transition: transform .5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &--active > &__title-mask > span {
        transform: translateY(0);
        transition-duration: .8s;
    }
}

@keyframes animate-scroll {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}