.heading-1 {
    font-family: 'Baskerville Old Serial';
    font-size: 35px;
    line-height: 1.15;
    font-weight: 400;
    color: $color-white;

    @include media-breakpoint-up(lg) {
        font-size: 60px;
    }

    @include media-breakpoint-up(x) {
        font-size: 72px;
    }

    @include media-breakpoint-up(xi) {
        font-size: 90px;
    }

    @include media-breakpoint-up(fhd) {
        font-size: 135px;
    }

    @include media-breakpoint-up(tk) {
        font-size: 180px;
    }
}

.heading-2 {
    font-family: 'Baskerville Old Serial';
    font-size: 35px;
    font-weight: 400;
    line-height: 1.17;
    color: $color-primary;
    
    @include media-breakpoint-up(lg) {
        font-size: 54px;
        letter-spacing: 1.06px;
    }

    @include media-breakpoint-up(x) {
        font-size: 54px;
        letter-spacing: 1.6px;
    }

    @include media-breakpoint-up(xi) {
        font-size: 72px;
    }

    @include media-breakpoint-up(fhd) {
        font-size: 120px;
        letter-spacing: 2.4px;
    }

    @include media-breakpoint-up(tk) {
        font-size: 160px;
        letter-spacing: 3.2px;
    }
}

.heading-3 {
    font-family: 'Baskerville Old Serial';
    font-size: 24px;
    line-height: 1.375;
    font-weight: 400;
    color: $color-primary;

    @include media-breakpoint-up(x) {
        font-size: 32px;
        letter-spacing: 0.8px;
    }

    @include media-breakpoint-up(xi) {
        font-size: 40px;
    }

    @include media-breakpoint-up(fhd) {
        font-size: 60px;
        letter-spacing: 1.2px;
    }

    @include media-breakpoint-up(tk) {
        font-size: 80px;
        letter-spacing: 1.6px;
    }
}

.heading-4 {
    font-family: 'Baskerville Old Serial';
    font-size: 24px;
    line-height: 1.333;
    font-weight: 400;
    color: $color-primary;

    @include media-breakpoint-up(lg) {
        font-size: 30px;
        letter-spacing: 0.6px;
    }
    @include media-breakpoint-up(x) {
        font-size: 24px;
        letter-spacing: 0.8px;
    }

    @include media-breakpoint-up(xi) {
        font-size: 30px;
    }
}

.heading-5 {
    font-family: 'Montserrat';
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.36;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-primary;

    @include media-breakpoint-up(lg) {
        font-size: 22px;
        letter-spacing: 3.3px;  
        font-weight: 400;
    }
}

.body-copy {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.76;
    font-weight: 300;
    letter-spacing: 0.7px;
    color: $color-primary;

    @include media-breakpoint-up(lg) {
        font-size: 15px;
        letter-spacing: 0.85px;
    }

    @include media-breakpoint-up(xi) {
        font-size: 17px;
    }

    @include media-breakpoint-up(fhd) {
        font-size: 25px;
        letter-spacing: 1.3px;
    }

    @include media-breakpoint-up(tk) {
        font-size: 34px;
        letter-spacing: 1.7px;
    }
}