@import "abstracts/mixins";
@import "abstracts/variables";

/* breakpoints are at the end of every major div/block */

//--------------------------------

*, *:before, *:after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
}

.nav {  
    background-color: $primarycolor;
    color: $accent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-height $padding-width;

    &__logo {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        &-img {
            width: 100px;
            max-height: 70px;
        }
    
        &-title {
            font-family: "Actor";
            text-decoration: none;
            color: inherit;
            font-weight: 400;
            font-size: 23px;
            letter-spacing: 0.22em;
        }
    }

    &__menu {
        list-style-type: none;
        display: flex;
        align-items: center;

        li a {
            text-decoration: none;
            color: $accent;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-left: 24px;

            &:hover {
                cursor: pointer;
                color: grey;
            }
        }

        &-notifications {
            height: 30px;
            margin: auto 0;
            border-radius: 50%;
            padding: 2px;

            &:hover {
                background-color: grey;
            }
        }
    }

    @include media-breakpoint-down(x) {
        padding: $padding-height ($padding-width / 2);
    }
    
    @include media-breakpoint-down(md) {
        padding: ($padding-height / 2) ($padding-width / 4);

    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
        // padding: $padding-height*4 0;
        padding-bottom: $padding-height*2;

        &__logo {
            margin-bottom: $s-dist;
        }
    }

    @include media-breakpoint-down(xs) {
        padding: ($padding-height / 4) 0;

        &__logo {
            flex-direction: column;
            align-items: center;

            &-title {
                margin: 0;
            }
        }

        &__menu {
            flex-direction: column;
            justify-content: center;

            li {
                margin: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.info {
    height: 415px;
    background-color: $primarycolor-darken;
    color: $accent;
    font-family: "Montserrat";
    padding: 60px  $padding-width;
    font-size: 16px;

    &__back {
        margin-bottom: $distance;
        
        &--where {
            text-decoration: none;
            color: inherit;
            font-weight: 400;
        }

        &:hover {
            cursor: pointer;
            color: grey;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 44px;
        line-height: 54px;
        letter-spacing: 3px;
        margin-bottom: $distance;
    }

    &__desc {
        font-weight: 300;
        line-height: 28px;
        margin-bottom: $distance;
        width: 500px;
    }

    &__btn {
        border-radius: 6px;
        background-color: $accent;
        text-decoration: none;
        color: $gold;
        padding: 8px 16px;
        line-height: 17px;
        font-weight: 400;
        font-size: 14px;

        &:hover {
            background-color: rgb(194, 194, 194);
            color: $primarycolor-darken;
        }
    }

    @include media-breakpoint-down(x) {
        padding: 60px ($padding-width / 2);
    }

    @include media-breakpoint-down(md) {
        padding: 60px ($padding-width / 4) 0 ($padding-width / 4);
    }

    @include media-breakpoint-down(sm) {
        &__desc {
            width: 100%;
        }
    }

    @include media-breakpoint-down(xs) {
        &__name {
            font-size: 30px;
            margin-bottom: $distance / 2;
        }
    }
}

.main {
    position: relative;
    top: -50px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 24px;
    row-gap: 24px;
    padding: 0 $padding-width;

    &__card {
        height: 100px;
        display: flex;
        justify-content: space-between;

        font-family: "Montserrat";
        color: $accent;
        padding: 24px;
        background: linear-gradient(90deg, #E0B677 0%, #0C1D33 100%);
        border-radius: 6px;

        &:nth-child(1) {
            grid-column: 1 / 5;
        }

        &:nth-child(2) {
            grid-column: 5 / 9;
        }

        &-key {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 8px;
        }

        &-value {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }

        &-img {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 100%;
            border: 1px solid $accent;
        }
    }

    &__next {
        position: relative;
        grid-column: 9 / 13;
        height: 300px;
        background-color: $accent;
        border-radius: 6px;
        box-shadow: 0px 4px 32px rgba(136, 152, 170, 0.16);
        font-family: "Montserrat";
        
        &-header {
            padding: $s-dist;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: left;
            display: flex;
            justify-content: space-between;
        }

        hr {
            border-width: 2px;
            border: 1px solid $grey;
        }

        &-client {
            border: 2px solid $grey;
            border-radius: 6px;
            margin: $s-dist;
            padding: $s-dist;

            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: $text-lighten;

            &-name {
                color: $text;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }

            &-visits {
                margin: $s-dist 0;
            }

            &-tel {
                display: flex;
                align-items: center;
                span {
                    border: 2px solid grey;
                }
            }

            &-view {
                position: absolute;
                right: $s-dist*2;
                top: 160px;
            }
        }

        &-services {
            max-width: 100%;
            color: $text;
            padding: 0 $s-dist;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;

            ul {
                list-style-position: inside;
                padding-left: $s-dist;
                color: $text-lighten;
            }

            li {
                color: $text-lighten;
                font-weight: 400;
                padding: 5px;
            }

            &-paid {
                position: absolute;
                right: $s-dist;
                top: 215px;
                height: 40px;
                display: flex;
                color: $green;
                align-items: center;

                
                div {
                    height: 20px;
                    background-color: $green;
                    border-radius: 100%;
                    margin-right: 5px;

                    img {
                        height: 20px;
                    }
                }
            }
        }
    }

    &__appointments {
        grid-column: 9 / 13;
        font-family: "Montserrat";
        background-color: $accent;
        border-radius: 6px;
        box-shadow: 0px 4px 32px rgba(136, 152, 170, 0.16);

        &-header {
            color: $text;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            padding: $s-dist;
        }

        hr {
            border: 1px solid $grey;
        }

        ul {
            padding: $s-dist;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $s-dist;

            a {
                background-color: $primarycolor-darken;
                padding: 10px $s-dist;
                text-decoration: none;
                color: $accent;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(50, 50, 93, 0.1);
                border-radius: 6px;

                &:hover {
                    cursor: pointer;
                    background-color: $text-lighten;
                }
            }

            p {
                margin: 4px 0;
            }
        }


    }

    &__calendar {
        grid-column: 1 / 9;
    }

    @include media-breakpoint-down(x) {
        grid-template-columns: repeat(8,1fr);
        padding: 0 ($padding-width / 2);

        &__next {
            grid-column: 1 / 5;
        }

        &__appointments {
            grid-column: 5 / 9;
        }
    }

    @include media-breakpoint-down(md) {
        grid-template-columns: repeat(4,1fr);
        padding: 0 ($padding-width / 4);

        &__card:nth-child(2) {
            grid-column: 1 / 5;
        }

        &__appointments {
            grid-column: 1  / 5;
        }

        &__calendar {
            grid-column: 1 / 5;
        }
    }
}